body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.login1{
	padding-left:30;
}
.img{
	margin-left:0;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-bottom: 15px;
  border-radius:25px;
    border: 1px solid dodgerblue;
  
}
.chekbox{
	  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-bottom: 15px;
  border-radius:25px;
}
.radio{
	 display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-bottom: 15px;
  border-radius:25px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
   border-radius:25px;
   border:1px solid dodgerblue;
}

.input-field:focus {
  border: 1px solid dodgerblue;
}
a {
text-decoration:none;}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
  border-radius:25px;
}


.btn:hover {
  opacity: 1;
  color: white;
}

.kolom{
			float: left;
		}
.kolom.kanan{
			width: 60%;
			padding: 90px 0px 0px 0px;
}

.kolom.kiri{
			width: 40%;
			padding: 225px 0px 0px 0px  ;

		}
	@media screen and (max-width:600px){
		.kolom.kanan, .kolom.kiri{
			width: 100%;
		}
		}
		
