
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		

			
			.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.daftar{
			float:right;
			}
		.btndaftar{
			background-color: #273750;
			float:right;
			width:100px;
			height:30px;
			margin-left:15px;
			border-radius:5px;
			color:white;
			border: solid #273750;
		}
		.btnlogin{
			background-color:#4A88C6;
			color:white;
			float:right;
			width:100px;
			height:30px;
			border-radius:5px ;
			border: solid white;
			}
		.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.murup, .menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
			background-color:none;
		}
		
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
			
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}
		.paragrafpesanan{
			padding:30px 360px 30px 360px;	
		}
		.paragrafform{
			padding:10px 360px 30px 360px;	
		}
		
		input[type=text], select {
		  width: 700;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}

		input[type=submit] {
		  width: 200;
		  background-color: #4A88C6;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		}

		input[type=submit]:hover {
		  background-color: #D8D8D8;
		}
		
		.textarea{
		  resize:vertical;
		  width:700px;
		  height:200px;
		}


		
		.box-sizing: border-box;
		}

		.body {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		}
		.columnfaq {
			float: left;
			width: 33.33%;
			padding: 50px;
			text-align: center;
			font-size: 25px;
			cursor: pointer;
			color: #262626;
			transition:1s;
		}
		.columnfaq:hover {
			background-color:rgba(0,0,0,0.3)
		}
				
		.newspaper {
			padding-top:20px;
			padding-left:10px;
			padding-right:10;
			-webkit-column-count: 3;
			-webkit-column-gap: 38px;  
			-webkit-column-rule-style: solid;
 
			-moz-column-count: 3;
			-moz-column-gap: 40px;
			-moz-column-rule-style: solid;
 
			column-count: 3;
			column-gap: 40px;
			column-rule-style: solid;
			background-color:white;
			color:gray;
		}
	
		.containerTabfaq {
		padding: 20px;
		color: white;
		background-color:rgba(0,0,0,0.3);
		transition:1s;
		}

/* colom row/class row */
		.row:after; {
		content: "";
		display: table;
		clear: both;
		}

/* perintah btnclose*/
		.closebtnfaq {
		float: right;
		color: white;
		font-size: 35px;
		cursor: pointer;
		}
		.footerpesan{
			background-color: #333436;
			padding: 20px;
			text-align: right;
			width:1365px;
			margin: auto;	
			
		}
		