
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		

			
		.header{
		background-color: #4A88C6;
		padding: 15px 70px 35px 45px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
		}
			
			
		.boxa{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #4A88C6;
		}
		
		.boxb{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ECCA31;
		}
		
		.boxc{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #C65EA3;
		}
		
		.boxd{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ABD044;
		}




		.box2{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
			
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}

	
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif;}
		
		.mySlides {display: none}
		width: 1365px;
		height: 605px;
		margin: auto;
		img {vertical-align: center;}
		
	

		/* Slideshow container */
		.slideshow-container {

		  position: relative;

		  
					margin: auto;
					overflow: hidden;
					background-color: #2C2D4D ;
					width:1365px;
					height: 605px;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: 54px;
		  padding: 16px ;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 30;
		  border-radius: 27px 27px 27px 27px;
		}
		
		.prev {
		  left: 30;
		  border-radius: 27px 27px 27px 27px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}


		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		.clear{
			clear:both;
		}
		
		/*PESAN*/
		#formKomentar{
			border: 1px solid;
			height:500px;
			width: 100%;
			margin: 0px;
			padding: 30px;
			text-align:center;
			background-image:url("../images/gp1.Gif");	
		}
	
		.pesan{
			
			padding-top:20;
			border:0px solid;
			border-color:none;
			width:100%;
			height:130px;
			color:white;
			text-align:center;
			background-image:url("../images/7.jpg");
	
		}
		.submit{
			border-radius:10px;
			text-align:center;
		
			
		}
		.content{
			width : 100%;
			height :700;
			border : 0px solid;
			overflow:hidden;
			background-size:cover;
			background-position: 0px -200px;
			background-image:url("SDF.jpg");	
		}
		 
		.box-sizing: border-box;
		}

		.body {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		}

/* kolom cara */
		.columnfaq {
			float: left;
			width: 33.33%;
			padding: 50px;
			text-align: center;
			font-size: 25px;
			cursor: pointer;
			color: #262626;
			transition:1s;
		}
		.columnfaq:hover {
			background-color:rgba(0,0,0,0.3)
		}
				
		.newspaper {
			padding-top:20px;
			padding-left:10px;
			padding-right:10;
			-webkit-column-count: 3;
			-webkit-column-gap: 38px;  
			-webkit-column-rule-style: solid;
 
			-moz-column-count: 3;
			-moz-column-gap: 40px;
			-moz-column-rule-style: solid;
 
			column-count: 3;
			column-gap: 40px;
			column-rule-style: solid;
			background-color:white;
			color:gray;
		}
	
		.containerTabfaq {
		padding: 20px;
		color: white;
		background-color:rgba(0,0,0,0.3);
		transition:1s;
		}

/* colom row/class row */
		.row:after; {
		content: "";
		display: table;
		clear: both;
		}

/* perintah btnclose*/
		.closebtnfaq {
		float: right;
		color: white;
		font-size: 35px;
		cursor: pointer;
		}
		.footerpesan{
			background-color: #333436;
			padding: 20px;
			text-align: right;
			width:1365px;
			margin: auto;	
			
		}
		
		/*isi1*/
		.input [type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
  font-size: 15px;
  background-color: white;
  background-image: url("serch.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 5px 20px 5px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float:right;
}

}
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.right{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.menu1{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: center;
		
		}
		.menu1 ul li { display: inline; }
		.menu1 li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:black;	
		}
		.menu1 li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
		}
		
		.konten{
		padding-top: 110px;
		padding-bottom: 100px;
		border:1px solid;
		border-color:black;
		width:100%;
		height:700px;
		color:white;
		text-align:center;
		
		background-image:url("w.jpg");
		font-family:Bell MT;
		color:black;
		font-size:25;

		 
		}
		.button{
			width:300px;
			height:70px;
			border-radius:15px;
			border-color:none;
			font-family:Bell MT;
			cursor:pointer;
			
			
		}
		.footerisi{
			width : 100%;
			height :310;
			border : 0px solid;
			overflow:hidden;
			background-color:white;
			
		}
	
	/* FAQ*/
	.headerisi2{
		padding-top:20;
			border:0px solid;
			border-color:none;
			width:100%;
			height:130px;
			color:white;
			text-align:center;
			background-color:#333436;
	}
	
	.containerisi2{
		padding: 64px;
		}

	.row:after {
	content: "";
	display: table;
  clear: both;
	}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
	}

	.column-331 {
	float: right;
	width: 335px;
	height: 471px;
	padding: 20px;
	
	background-image:url("21.jpg");
	}
	.column-332 {
	float: left;
	width: 335px;
	height: 471px;
	margin-top:70;
	
	background-image:url("22.jpg");
	}
	.column-333 {
	float: right;
	width: 335px;
	height: 471px;
	padding: 20px;
	background-image:url("../Portofolio/23.jpg");
	}

	.large-font {
	font-size: 48px;
	}

	.xlarge-font {
	font-size: 64px
	}

	.buttonisi2 {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4A88C6;
  
}




		
		
		
