
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		

			
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.daftar{
			float:right;
			}
			a {
				text-decoration:none;}
		.btndaftar{
			text-decoration:none;
			background-color: #273750;
			float:right;
			width:100px;
			height:30px;
			margin-left:15px;
			border-radius:5px;
			color:white;
			border: solid #273750;
		}
		.btnlogin{
			background-color:#4A88C6;
			color:white;
			float:right;
			width:100px;
			height:30px;
			border-radius:5px ;
			border: solid white;
			}
		.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		margin-bottom: 5px;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.murup, .menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
			background-color:none;
		}
			
			
			
		.boxa{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #4A88C6;
		}
		
		.boxb{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ECCA31;
		}
		
		.boxc{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #C65EA3;
		}
		
		.boxd{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ABD044;
		}




		.box2{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.img{
		width: 1365px;
		border: 2px solid #D8D8D8;
		padding: 50px 50px 50px 50px ;
		margin: auto;
		}
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}
		
	
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif;}
		
		.mySlides {display: none}
		width: 1365px;
		height: 605px;
		margin: auto;
		img {vertical-align: center;}

		/* Slideshow container */
		.slideshow-container {

		  position: relative;

		  
					margin: auto;
					overflow: hidden;
					background-color: #2C2D4D ;
					width:1365px;
					height: 605px;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: 54px;
		  padding: 16px ;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 30;
		  border-radius: 27px 27px 27px 27px;
		}
		
		.prev {
		  left: 30;
		  border-radius: 27px 27px 27px 27px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}


		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		.clear{
			clear:both;
		}
		
		.Text{
			padding: 50px 50px 50px 50px;
			width:950px;
			margin: auto;
`			text-align: justify;			
		}
		
		.Profil{
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
		}
		
		.tkomen{
			margin-left: 120px;
		}


		.kolom{
					float: left;
				}

		.kolom.kanan{
					width: 30%;
					padding: 50px  10px 70px 70px ;
		}

		.kolom.kiri{
					width: 70%;
					padding: 50px  10px 70px 70px ;
				}

		@media screen and (max-width:600px){
				.kolom.kanan, .kolom.kiri{
					width: 100%;
				}
				}
		
.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
}
 
.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 20px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 16px;
}
 
.sidebar .widget p:last-child {
	margin:0;
}

		input[type=text], select {
		  width: 850px;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		  margin-left: 120px;
		}

		input[type=submit] {
		  width: 200;
		  background-color: #4A88C6;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  margin-left: 120px;
		}

		input[type=submit]:hover {
		  background-color: #D8D8D8;
		}
		
		.textarea{
		  resize:vertical;
		  width:850px;
		  height:200px;
		  margin-left: 120px;
		}
