
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		

			
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
		}
			
			
		.boxa{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #4A88C6;
		}
		
		.boxb{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ECCA31;
		}
		
		.boxc{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #C65EA3;
		}
		
		.boxd{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ABD044;
		}




		.box2{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.img{
		width: 1365px;
		border: 2px solid #D8D8D8;
		padding: 50px 50px 50px 50px ;
		margin: auto;
		}
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}
		
	
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif;}
		
		.mySlides {display: none}
		width: 1365px;
		height: 605px;
		margin: auto;
		img {vertical-align: center;}

		/* Slideshow container */
		.slideshow-container {

		  position: relative;

		  
					margin: auto;
					overflow: hidden;
					background-color: #2C2D4D ;
					width:1365px;
					height: 605px;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: 54px;
		  padding: 16px ;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 30;
		  border-radius: 27px 27px 27px 27px;
		}
		
		.prev {
		  left: 30;
		  border-radius: 27px 27px 27px 27px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}


		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		.clear{
			clear:both;
		}
		
		.Text{
			padding: 50px 50px 50px 50px;
			width:1365px;
			margin: auto;
`			text-align: justify;			
		}
		
		.Profil{
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
		}
		
		.tkomen{
			margin-left: 50px;
		}
		#formPesanan{
			height:500px;
			width: 100%;
			margin: 0px;
			padding:  30px;
			float-align:center;			
		}
		#formKomentar input, #formKomentar textarea {
			border: 2px solid rgba(0,0,0,0.1);
			padding: 8px 10px;
			outline: 0;
}
		#formKomentar input {
			width: 1250px;
			margin-left: 0px;
			}
		#formKomentar textarea {
			width: 1250px;
			margin-left: 0px;
		}

		#formKomentar input[type="submit"] {
			cursor: pointer;
			background: -webkit-linear-gradient(top, #efefef, #ddd);
			background: -moz-linear-gradient(top, #efefef, #ddd);
			background: -ms-linear-gradient(top, #efefef, #ddd);
			background: -o-linear-gradient(top, #efefef, #ddd);
			background: linear-gradient(top, #efefef, #ddd);
			color: #333;
			text-shadow: 0px 1px 1px rgba(255,255,255,1);
			border: 2px solid #ccc;
			}

		#formKomentar input[type="submit"]:hover {
			background: -webkit-linear-gradient(top, #eee, #ccc);
			background: -moz-linear-gradient(top, #eee, #ccc);
			background: -ms-linear-gradient(top, #eee, #ccc);
			background: -o-linear-gradient(top, #eee, #ccc);
			background: linear-gradient(top, #eee, #ccc);
			border: 2px solid #bbb;
}

		#formKomentar input[type="submit"]:active {
			background: -webkit-linear-gradient(top, #ddd, #aaa);
			background: -moz-linear-gradient(top, #ddd, #aaa);
			background: -ms-linear-gradient(top, #ddd, #aaa);
			background: -o-linear-gradient(top, #ddd, #aaa);
			background: linear-gradient(top, #ddd, #aaa);    
			border: 2px solid #999;
}

		#formKomentar div {
			margin-bottom: 10px;
					
}
