
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		
		.solution{
			width:1365px;
			height: 300px;
			padding:50px 100px;
			background-color: #E6E6E6;
			display:inline-block;

		}
		.solution1{
			width: 679px;
			height: 300px;
			position: absolute;
			margin: 0px 0px 0px 682.5px;
		}
		
		.buttonservice{
		border: 2px solid #4A88C6;
		color:#4A88C6;
		padding:10px 25px;
		font-size: pointer;
		
		}
		
		.buttonservice1{
		
		color:white;
		padding:10px 25px;
		font-size: pointer;
		background-color: #4A88C6;
		}
		
		.buttonportofolio{
		color:white;
		padding:5px 10px;
		font-size: pointer;
		background-color: #4A88C6;
		cursor:pointer;
		}
		.middleportofolio{
		padding:0px 50px 50px 50px;	
		}
			.textslide{
		color: white;
		padding: 220px 0px  0px 150px ;
		position: absolute;
		text-align:center;
		}
		
		.textslide1{
		color: Black;
		position: absolute;
		text-align:center;
		width:550;
		height: auto;
		margin-left:120px;
		padding: 0px 0px 0px 0px;
		background-color: white;
		}
		
		.textslide2{
		color: white;
		text-align:center;
		margin-top:70px;
		border:5px solid white;
		width:300;
		border-radius:50px;
		height: auto;
		padding: 0px 0px 0px 0px;
		}

			
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.daftar{
			float:right;
			}
		.btndaftar{
			background-color: #273750;
			float:right;
			width:100px;
			height:30px;
			margin-left:15px;
			border-radius:5px;
			color:white;
			border: solid #273750;
		}
		.btnlogin{
			background-color:#4A88C6;
			color:white;
			float:right;
			width:100px;
			height:30px;
			border-radius:5px ;
			border: solid white;
			}
			
.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		margin-bottom: 5px;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.murup, .menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
			background-color:none;
		}
			
			
		.dropbtn {
  background-color: DodgerBlue;
  width:100;
  height:30;
  color: white;
  padding: 0px 0px 0px 0px;
  margin-left:75px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:gray ;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#4A88C6;
}
		}
			
		.boxb{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ECCA31;
		}
		
		.boxb{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ECCA31;
		}
		
		.boxc{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #C65EA3;
		}
		
		.boxd{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 7px;
			position: absolute;
			float : leaf;
			background: #ABD044;
		}




		.box2{
			margin:30px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.img{

		display:inline-block;
		color: black;
		width: 260px;
		height: 260px;
		border: 2px solid #D8D8D8;
		padding: 5px;
		margin: 25px

		}
		
		.imgposter{

		display:inline-block;

		width: 260px;
		height: 350px;
		border: 2px solid #D8D8D8;
		padding: 5px;
		margin: 25px

		}
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}
		
		.paragraf{
			padding:50px 100px 100px 100px;	
		}
		
		.crewa{
	
			width:280px;
			display:inline-block;
			height: 5px;
			float : leaf;
			background: #ABD044;
		}
		
		.crewb{
		
			width:280px;
			display:inline-block;
			height: 5px;
			float : leaf;
			background: #ECCA31;
		}
		
		.crewc{

			width:280px;
			display:inline-block;
			height: 5px;
			float : leaf;
			background: #F58634;
		}
		
		.crewd{
			width:280px;
			display:inline-block;
			height: 5px;
			float : leaf;
			background: #ED3237;
		}
		
		.skill{
			margin:auto;
			width:1365px;
			height: 700px;
			float : leaf;
			display:inline-block;
			background: #DCDCDC;
		}
		
		.circlea{
			
			vertical-align:middle;
			display:inline-block;
			width:15px;
			height:15px;
			float : leaf;
			background:#ABD044;
			border-radius:100%;	
		}
		.circleb{
			
			vertical-align:middle;
			display:inline-block;
			width:15px;
			height:15px;
			float : leaf;
			background:#ECCA31;
			border-radius:100%;	
		}		
		
		.circlec{
			
			vertical-align:middle;
			display:inline-block;
			width:15px;
			height:15px;
			float : leaf;
			background:#F58634;
			border-radius:100%;	
		}

		.circled{
			
			vertical-align:middle;
			display:inline-block;
			width:15px;
			height:15px;
			float : leaf;
			background:#ED3237;
			border-radius:100%;	
		}	

		.team{
			margin:0px 160px 40px 50px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}	

		.team1{
			float: right;
			margin:50px 50px 100px 160px;
			display:inline-block;
			width:400px;
			height: 280px;
			padding: 20px 20px 20px 20px ;
			float : leaf;
			box-shadow: 0px 0px 10px 10px #DDDDDD ;
			background: #FEFEFE;
		}	

		.label{
			width:auto;
			height: auto;
			border: 2px solid #D8D8D8;
			margin: auto;
			text-align:center;
			display:inline-block;
			margin:4px;
			padding: 3px;
		}
		
		.grafikphotoshop{
			width:70;
			height: 350;
			background-color:#4A88C6 ;
		}
		
		.grafikphotoshop1{
			width:67;
			height: 90;
			background-color:#ABC0E3;
			position: absolute;
		}
		
			.grafikphotoshop2{
			width:67;
			height: 50;
			background-color: #DCDCDC;
			position: absolute;
		}
		.grafikphotoshop3{
			border: 3px solid #4A88C6;
			width:70;
			height: 350;
			display:inline-block;
			margin:0px 35px 0px 35px ;
		}
		
		.grafikilustrator{
			width:70;
			height: 350;
			background-color:#F58634 ;
		}
		
		.grafikilustrator1{
			width:67;
			height: 110;
			background-color:#F0C5A3;
			position: absolute;
		}
		
			.grafikilustrator2{
			width:67;
			height: 70;
			background-color: #DCDCDC;
			position: absolute;
		}
		
		.grafikilustrator3{
			border: 3px solid #F58634;
			width:70;
			height: 350;
			display:inline-block;
			margin:0px 35px 0px 35px ;
		}
		
		.grafikcorel{
			width:70;
			height: 350;
			background-color:#ABD044 ;

		}
		
		.grafikcorel1{
			width:67;
			height: 40;
			background-color:#D2E0B3;
			position: absolute;
		}
		
		.grafikcorel2{
			width:67;
			height: 20;
			background-color: #DCDCDC;
			position: absolute;
		}
		.grafikcorel3{
			border: 3px solid #ABD044;
			width:70;
			height: 350;
			display:inline-block;
			margin:0px 35px 0px 35px ;

		}
		
		.grafikfinishing{
			width:70;
			height: 350;
			background-color:#ED3237 ;
		}

		
		.grafikfinishing1{
			width:67;
			height: 65;
			background-color:#EDAA97;
			position: absolute;
		}
		
			.grafikfinishing2{
			width:67;
			height: 30;
			background-color: #DCDCDC;
			position: absolute;
		}
		.grafikfinishing3{
			border: 3px solid #ED3237;
			width:70;
			height: 350;
			display:inline-block;
			margin:0px 35px 0px 35px ;

		}
		
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif;}
		
		.mySlides {display: none}
		width: 1365px;
		height: 605px;
		margin: auto;
		img {vertical-align: center;}

		/* Slideshow container */
		.slideshow-container {

		  position: relative;

		  
					margin: auto;
					overflow: hidden;
					background-color: #2C2D4D ;
					width:1365px;
					height: 605px;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: 54px;
		  padding: 16px ;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 30;
		  border-radius: 27px 27px 27px 27px;
		}
		
		.prev {
		  left: 30;
		  border-radius: 27px 27px 27px 27px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}


		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		
				.Profil{
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			display:inline-block;
			margin:0px 20px 0px 20px;
		}

		.clear{
			clear:both;
		}
		.imglogo{
			width:350;
			position: absolute;
			height: 350;
			display:inline-block;
			float: center;
			margin-left : 320px;
			padding-top : 20px;
		} 
		
		.imglogo1{
			width:740;
			height: 390;
			background-color: white;
			display:inline-block;
			float: center;
			border: 3px solid #DDDDDD;
			margin-left : 300px;
			padding-left : 390px;
			padding-top : 20px;
		}
		
		.imglogo2{
			width:350;
			height: 350;
			background-color: white;
			display:inline-block;
			padding-bottom: 450px;
			
			
		} 
		
		
			.imglogo3{
			width:740;
			height: 150;
			padding:0px 400px 0px 0px;
			float: center;
			margin-left : 300px;
			
		}
		
		.imgtext{
			width:700px;
			height: 280px;
			float: center;
			margin-left : 320px;
			padding-left : 10px;
		}
		
		
			.Profil1{
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			display:inline-block;
			margin:0px 20px 0px 20px;
		}
		
		.buttondesain{
		color:white;
		padding:5px 10px;
		font-size: pointer;
		background-color: #4A88C6;
		cursor:pointer;
		}
		
		
		/* JQUERY*/
		
		

