
		*{
			box-sizing:border-box;
		}
		body {
			margin: auto;
			width:1365px;
			font-family: Calibri;

		}
		

			
		.header{
		background-color: #4A88C6;
		padding: 15px 30px 15px 35px;
		text-align: left;
		width:1365px;
		margin: auto;
		}
		.daftar{
			float:right;
			}
			a {
				text-decoration:none;}
		.btndaftar{
			text-decoration:none;
			background-color: #273750;
			float:right;
			width:100px;
			height:30px;
			margin-left:15px;
			border-radius:5px;
			color:white;
			border: solid #273750;
		}
		.btnlogin{
			background-color:#4A88C6;
			color:white;
			float:right;
			width:100px;
			height:30px;
			border-radius:5px ;
			border: solid white;
			}
		.menu{
		margin: auto;
		width:1365px;
		height: 45px;
		padding: 0px 40px 0px 0px;
		border-top:5px solid DodgerBlue;
		background:#fff;
		font-size:16px;	
		text-align: right;
		
		}
		.menu ul li { display: inline; }
		.menu li a{
			text-decoration:none;
			margin:0px 10px 0px 15px;
			padding-bottom: 2px  ;
			color:#000;	
		}
		.murup, .menu li a:hover{
			color: DodgerBlue;
			border-bottom: 5px solid DodgerBlue;
			background-color:none;
		}
		.informasi{
			margin: auto;
			width:1365px;
			position: absolute;
			padding: 20px 20px 20px 20px;
			
		}
		
		.column{
			float: left;
			
		}
		.column.side{
			width: 33.33%;
			padding: 2px 70px ;

		}
		.column.middle{
			width: 33.33%;
			padding: 2px 70px;
		}
		
		.column.right{
			width: 33.33%;
			padding: 2px 70px ;
		}
		
		.row:after {
			content:"";
			display: table;
			clear:both;
		}
		@media screen and (max-width:600px){
		.column.side, .column.middle{
			width: 100%;
		}
		}
		
		.footer{
			background-color: #333436;
			padding: 20px;
			text-align: center;
			width:1365px;
			margin: auto;	
		}
		
		.headerisi2{
		padding-top:20;
			border:0px solid;
			border-color:none;
			width:100%;
			height:130px;
			color:white;
			text-align:center;
			background-color:#333436;
	}
	
	.containerisi2{
		padding: 64px;
		}

	.row:after {
	content: "";
	display: table;
  clear: both;
	}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
	}

	.column-331 {
	float: right;
	width: 335px;
	height: 335px;
	margin: 80px 0px 0px 0px;
	padding: 20px;
	border:2px solid #CCCCCC;
	
	background-image:url("../Portofolio/emma2.jpg");
	}
	.column-332 {
	float: left;
	width: 335px;
	height: 417px;
	margin-top:70;
	margin: 50px 0px 0px 0px;
	
	background-image:url("22.jpg");
	}
	.column-333 {
	float: right;
	width: 335px;
	height: 417px;
	padding: 20px;
	margin: 50px 0px 0px 0px;
	background-image:url("../Portofolio/23.jpeg");
	}

	.large-font {
	font-size: 48px;
	}

	.xlarge-font {
	font-size: 64px
	}

	.buttonisi2 {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4A88C6;
  
}
.footerpesan{
			background-color: #333436;
			padding: 20px;
			text-align: right;
			width:1365px;
			margin: auto;	
			
		}
		#myDIV {
  background: #84008c;
  -webkit-animation: mymove 5s infinite; 
  animation: mymove 5s infinite;
}


@-webkit-keyframes mymove {
  from {background-color: #84008c;}
  to {background-color: blue;}
}


@keyframes mymove {
  from {background-color: #84008c;}
  to {background-color: blue;}
}
		